<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="BizTalkRESTRequestHandler" type="bLogical.BizTalk.RESTBehavior.BizTalkRESTRequestHandlerExtensionElement, bLogical.BizTalk.RESTBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8b7f8ad23140b57b" />
        <add name="BizTalkRESTTransmitHandler" type="bLogical.BizTalk.RESTBehavior.BizTalkRESTTransmitHandlerExtensionElement, bLogical.BizTalk.RESTBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8b7f8ad23140b57b" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>